/* Body */
/* Dette styler all skrift og linjehøyde på nettsiden, med mindre annet er spesifisert i egen klasse  */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  /* Dette sørger for at sidens innhold ikke dekkes av banneret */
  padding-top: 50px;
  /* Sørger for litt avstand mellom footer og bunnen av siden */
  padding-bottom: 100px;
}

/* Legg til marg på venstre side av headings og paragraph tags, med mindre annet er spesifisert i egen klasse */
h1, 
h2,
h3,
p {
  margin-left: 20px;
}

/* Dette styler alle <a>-tags på nettsiden, med mindre annet er spesifisert i egen klasse */
a {
  text-decoration: none;
  color: black;
  transition: 0.15s;
}

/* Banners */
/* Dette styler banneret på alle sidene våre */

.banner-container {
  /* Innholdet i banneret er lagt i en flexbox */
  display: flex;
  flex-direction: row;
  position: fixed;
  /* I relasjon til checkboksene på siden: Disse er ved default satt med verdi z-index: 1; 
  For å unngå at checkboksene skal overlappe banneret når man scroller
  har vi satt z-index: 1; for bannerene */
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  /* Dette styler hvor stor andel av skjermen som skal tas opp av hvert element i banneret horisontalt */
  /* Vi har kopiert denne gule fargen fra OsloMet.no */
  background-color: #ffd500;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /* Banneret har fått en liten marg på bunnen, som er litt mørkere enn bakgrunnsfargen */
  border-bottom-color: #ecc70f;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
}

.oslomet-logo {
 flex: 1;
}

.dropdown {
  flex: 1;
}

/* Her styles "barna" (div'ene) som ligger inne i banner div'en */
.banner-container > div {
  text-align: left;
  padding: 10px 0;
  font-size: 20px;
}

/* Dropdown Knapp */
/* Her styles alle nedtrekksmenyene på hele nettsiden vår */
.dropdown-button{
  display: grid;
  /* Nedtrekksmenyen er stylet slik at den matcher fargen på banneret den ligger inne i */
  background-color: #ffd500;;
  color: black;
  padding: 10px;
  font-size: 20px;
  border: none;
  /* Musepekeren er endret fra standart pil til en hånd */
  cursor: pointer;
}

/* Her styles posisjonen til nedtrekksmenyen på siden */
.dropdown {
   /* Dette sørger for at menyen åpnes under meny-knappen */ 
  position: relative;
  display: inline-block;
  /* Dette sørger for at menyen åpnes mot venstre*/
  direction: rtl;
}

/* Ved default er inneholdet i nedtrekksmenyen gjemt (det trenger derfor ikke styles) */
/* Menyen åpnes når man holder musepekeren over menyen (dette er også en default) */

.dropdown-content {
  /* Her styles innholdet i nedtrekksmenyen */
  display: none;
  position: absolute;
  background-color:#ffd500; 
  /* Dette sørger for at innholder er like bredt som knappen*/
  min-width: 100%;
  /* Dette gjør det mulig å scrolle i menyen på mindre skjermer */
  overflow: auto;
  /* Det er lagt til en skygge bak menyen slik at den skal være bedre synlig på siden*/
  /* a i rgba sørger for at skyggen er mer blurry */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 20rem;
}

/* Linkene inne i nedtrekksmenyen */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Endrer fargen når man fører musepekeren over hver av linkene */
.dropdown-content a:hover {
  background-color: #d9b607;
}

/* Når innholdet i nedtrekksmenyen vises */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Endre bakgrunnsfargen på knappen når nedtrekksmenyens innhold vises*/
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-button {
  background-color: #d9b607;
}

/* Dette styler bakgrunnen bak sub-headingen på index.html */
/* Padding er lagt til for å lage avstand mellom tekst og bildet */
.heading-container {
  display: grid;
  gap: 20px;
  background-color: #ffd500;
  padding: 10px;
}

/* Dette styler div'ene som ligger inne i heading div'en */
.heading-container > div {
  text-align: left;
  padding: 10px 0;
  font-size: 20px;
}

/* Dette styler main-heading på alle sidene for å sørge for en gjennomgående look */
.main-heading {
  box-sizing: border-box;
  font-size: 40px;
  margin-left: 30px;
}

/* Dette styler teksten rett under main-heading på alle sidene igjen, for å sørge for en gjennomgående look */
.sub-heading {
  box-sizing: border-box;
  font-weight: lighter;
  font-size: 30px;
  margin-left: 20px;
}

/* På campus.html og topical.html bruker vi checkbokser for å lage en nedtrekksmeny. 
Disse er stylet likt på begge sidene */
input {
  display: none;
}

/* Styling for alle checkboksene */
label {
  border: .5px solid #dab914;
  display: flex;
  padding: 8px 22px;
  /* Når du fører musen over checkboksene endres musepekeren fra pil til hånd */
  cursor: pointer;
  /* Vi har gitt chekboksene samme farge som banneret og statistikk gridene på de øvrige sidene våre 
  for å sørge for en gjennomgående look på nettsiden */
  background: #ffd500;
  color: black;
  /* Posisjonen er satt slik at checkboksene dekker hele siden */
  position: relative;
  margin-bottom: 5px;
}

/* Når man fører musepekeren over checkboksene forandres fargen til en litt mørkere gul */
label:hover {
  background: #e0bb01;
  /* Dette er lagt inn for å sørge for en smooth overgang i fargen */
  transition: .5s;
}

/* Her styles '+'-tegnet i høyre hjørnet av hver checkboks */
/* Når boksen er lukket vises et plusstegn for å indikere at man kan klikke på boksen for mer informasjon */
label::after {
  content: '+';
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
}

/* Her styles tegnet slik at det går fra + til - når boksen er åpen */
input:checked + label::after {
  content: '-';
  right: 14px;
  top: 5px;
}

/* Når boksen er lukket */
input + label + .content {
  display: none;
}

/* Når boksen er åpen*/
input:checked + label + .content {
  display: block;
}

/* Index.html: Her finner man styling for elementer spesifikt for denne siden */

.bilde-studiestart {
  /* Dette sørger for at det er et mellomrom mellom bildet og teksten */
  margin-bottom: 12px;
}

/* Fotograf-kilde og tekst under bildet er stylet i et grid */
.about-oslomet-container {
  display: grid;
  /* Her styles hvor stor del hvert element i gridet tar opp på siden */ 
  grid-template-columns: 1fr 2fr 1fr;
  /* Mellomrom mellom hvert grid element */
  gap: 30px;
}

/* Styler teksten som er en link til original foto: "Foto: Benjamin A. Ward" */
.original-image {
  font-size: 12px;
  font-weight: lighter;
  /* for å unngå at det er en strek under teksten må det styles slik */
  text-decoration: none;
  padding-top: 10px;
  margin-left: 20px;
}

/* Dette styler hvordan bildelinken ser ut når du har musepekeren på den */
.original-image:hover {
  font-weight: bolder;
  cursor: pointer;
  /* For å unngå default innstilling hvor teksten blir lilla, må den styles slik */
  color: black;
  text-decoration: none;
}

/* Dette styler hvordan linken ser ut når du klikker på den, og etter du har klikket på den */
.original-image:active,
.original-image:visited {
  color: black;
  text-decoration: none;
}

/* Dette styler gridet som inneholder statistikken om OsloMet */
.statistics-grid-container {
  display: grid;
  column-gap: 30px;
  /* Her styles hvilken andel hvert grid-element skal ta opp horisontalt på skjermen */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* Gridet er gitt den samme bakgrunnsfargen som de andre elementene på nettstedet vårt */
  background-color: #ffd500;
  padding: 25px;
}

/* Her er det lagt inn en bord over hvert av grid-elementene */
.amount-students,
.amount-studyplaces,
.amount-bachelor-studies,
.amount-master-studies {
  border-top: 1px solid black;
}

/* topical.html: dette styler elementer som er spesifikke for denne siden */
/* Dette styler linkene som er lagt inn i teksten som ligger inne statistikkgridet og i checkboksene */

/* Styling av linkene som ligger i teksten */
.heading-grid,
.opptakskrav,
.java,
.programmeringsspråk {
  font-weight: bolder;
  text-decoration: underline;
  padding-top: 10px;
}

/* Dette styler linkene når man holder musepekeren over dem */
.heading-grid:hover,
.opptakskrav:hover,
.java:hover,
.programmeringsspråk:hover {
  font-weight: bolder;
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

/* Dette styler hvordan linkene ser ut når du klikker på dem og etter du har klikket på linken */
.heading-grid:active,
.heading-grid:visited, 
.opptakskrav:active,
.opptakskrav:visited,
.java:active,
.java:visited,
.programmeringsspråk:active,
.programmeringsspråk:visited {
  color: black;
  text-decoration: underline;
}

/* Dette gridet inneholder statistikken om Programmeringsfaget  */
.grid-6 {
  display: grid;
  /* Dette er mellomrommet mellom grid-elementene */
  column-gap: 30px;
  /* Hvert gridelement tar opp en lik andel av skjermen horisontalt */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 25px;
  line-height: 1.2;
}

/* Dette styler hvert element i gridet med en kant øverst  */ 
.coursename-english,
.studyprogram,
.points,
.study-years {
  border-top: 1px solid black;
}

/* Dette er en knapp som er lagt inn i teksten i en av checkboksene */
.arrays-button {
  background-color: #ffd500;
  /* Knappen har fått en bord som er litt mørkere i fargen for å gjøre den litt mer synlig */
  border-color: #a38f2e;
  border: 2px;
  /* Dette runder kantene på knappen */
  border-radius: 15px;
  color: black;
  height: 30px;
  width: 80px;
  cursor: pointer;
  font-weight: bold;
}

.arrays-button:hover {
  /* Fargen blir litt "svakere" */
  opacity: 0.8;
  /* Knappen er gitt en skygge */ 
  box-shadow: 8px 3px 10px rgba(0,0,0,0.2);
}

/* campus.html: Dette styler elementer som er spesifikke for denne siden */

/* Boksene er stylet slik at den kan inneholde både tekst og bilder */
.grid-campus-boxes{
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 30px;
}

.grid-campus-boxes .campus-bilde{
  overflow: hidden;
}

.grid-campus-boxes .campus-bilde img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-campus-boxes .tekst-i-boks{
  display: flex;
  align-items: center;
}

.grid-campus-boxes .tekst-i-boks .teksten{
 padding-left: 20px;
 line-height: 26px;
 padding-bottom: 15px;
}

@media (max-width: 991px) {
  .grid-campus-boxes .tekst-i-boks .teksten{
    padding-left: 0;
  }
  /* Dette fjerner padding på venstre side når skjermen er mindre */
}

@media (max-width: 768px){
  .grid-campus-boxes{
    width: 90%;
    grid-template-columns: repeat(1fr);
  }
  /*Media query that */
}

/* Klassene under, .tekst-i-boks, .campusnavn & .kort-info i tillegg til bilde styling, styler nedtrekksmenyenes innhold
når de er lukket */
.tekst-i-boks{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.campusnavn .kort-info{
  border-bottom: 0.5px;
  display: inline;
}

/* Begge bildene inne i checkboksene er stylet likt, slik at de gir siden en sammenhengende look */
/* De er stylet med samme avstand mellom tekst og kanten rundt dem */
  .bilde-pilestredet, .bilde-kjeller{
    margin-top: 2px;
    margin-bottom: 0px;
    vertical-align: middle;
    width: 100%;
    flex: 100%;
  }

  .campus-info.adresse.adresse-universitetet{
    margin: 10px;
    /* Legger til litt marg rundt teksten slik at innholdet i nedtrekksmenyen ser ut som den 
    ligger mer inne i boksen */
  }

  .adresse{
    font-weight: bolder;
    font-size: smaller;
  }

  .adresse-universitetet{
    font-size: smaller;
  }

  /* Accessibility: Dette styler alt som er spesifikt for denne siden  */

/* Ettersom denne checkboksen inneholder flere bokser enn de to andre, 
må den styles litt mer */ 
.accessibility-container,
.accessibility-container-2 {
  /* Setter minimum høyde for elementene */
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  /* flex-direction: row; Dette er en default når man bruker flex */
}

.accessibility-container > div {
  display: flex;
  /* Hver boks' andel av skjermen tar opp av skjermen */
<<<<<<< HEAD
  flex-basis: calc(50% - 35px);
  justify-content: space-around;
=======
  flex-basis: calc(33.3333333% - 35px);
  justify-content: space-evenly;
>>>>>>> 010aa8d639408734175e95787ded97dc33c6c297
  flex-direction: column;
  margin-bottom: 10px;
}

/* Dette gjelder spesifikt div'ene som ligger inne i accessibility-containeren */
.accessibility-container, .accessibility-container-2 > div > div {
  display: flex;
  justify-content: space-around;
  /* flex-direction: row; dette er en default setting for flex */
}

.accessibility-container-2 > div{
  display: flex;
  /* Hver boks' andel av skjermen tar opp av skjermen */
  flex-basis: calc(50% - 35px);
  justify-content: space-evenly;
  flex-direction: column;
}

/* Dette er hvordan alle boksene ser ut*/
.box {
  padding: 10px;
  background-color: #ffd500;
  border: 1px solid #e0be11;
  /* Runder kantene på boksen */
  border-radius: 15px;
  margin-right: 10px;
}
.img {
  /* Runder kantene på bildet */
  border-radius: 15px;
}

/* Styler id'et - det sørger for at boksen ikke blir for stor */
#accessibility-container {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

/* Hvordan bildet ligger inne i containeren */
#accessibility-container > img {
  float: left;
  width: 45%;
  margin: 1.66%;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6 {
  position: relative;
  width: 50%;
}


/* Dette er 'masken' som legger seg over hver av boksene når man holder musepekeren over den */
.overlay {
  position: absolute;
  /* Sørger for at den gule boksen ligger likt som boksen 'under'
  (at den ikke flyter utover kantene) */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* Sørger for at masken ikke dekker bildet når du ikke har musepekeren over den */ 
  opacity: 0;
  /* Vi plasserer denne her slik at vi transition også er der når man flytter musepekeren 
  Ikke bare ved hover-funksjonen */
  transition: 1.5s ease;
  background-color: #ffd500;
  border-radius: 20px;
}

.box-1:hover .overlay,
.box-2:hover .overlay,
.box-3:hover .overlay,
.box-4:hover .overlay,
.box-5:hover .overlay,
.box-6:hover .overlay {
  /* Overlay blir heldekkende når man fører musepekeren over boksen */
  opacity: 1;
}

.text {
  font-size: 85%;
  position: absolute;
  /* Plassering av teksten i boksen */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Footer: Her styles footerene på alle sidene slik at siden får en sammenhengende look */

.footer{
  text-align: center;
  padding: 8px;
  /* Fargen er kopiert fra OsloMet.no */ 
  background-color: #ffd500;
  color: black;
  margin-top: 30px
}

.kildelink{
  color: black;
  text-decoration: none;
}

.kildelink:hover{
  color: black;
  text-decoration: underline;
}

.kildelink:active{
  color: black;
  text-decoration: none;
}

.eksamen{
  font-size: xx-small;
  font-weight: lighter;
}
