/* index.html */
/* This targets all the pages, styling the font and the height between lines */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

/* This styles the look of the banner at the top of each page */ 
.banner-container {
  /* The content within the banner is styled as a grid */
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  /* The yellow is copied to match the color of the OsloMet website */
  background-color: #ffd500;
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0;
}

/* This styles the " children" or the divs within the div named "banner-container" */
.banner-container > div {
  text-align: left;
  padding: 10px 0;
  font-size: 20px;
}

/* Dropdown Button */
/* This targets the dropdown menu on each page of our website */
.dropdown-button{
  display: grid;
  /* The menu is styled to match the background color of the banner it lies within with black writing */
  background-color: #ffd500;;
  color: black;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* This ensures that the content is placed right below the dropdown button */ 
  position: relative;
  display: inline-block;
}

/* The dropdown content is hidden (by default) */
/* The menu opens up when you hover over it (by default, as well) */
.dropdown-content {
  /* The content is styled to match the banner */
  display: none;
  position: absolute;
  background-color:#ffd500; 
  /* This ensures that the content is as wide as the button */
  min-width: 100%;
  /* This makes it possible to scroll on smaller screens */
  overflow: auto;
  /* This makes the dropdown menu more visible when you hover over it, as it has a bit of a shadow behind it */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d9b607;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #d9b607;}

/* This is the headings on the webpages*/
.heading-container {
  display: grid;
  gap: 20px;
  background-color: #ffd500;
  padding: 10px;
}

/* This targets the specific divs within the heading container */
.heading-container > div {
  text-align: left;
  padding: 10px 0;
  font-size: 20px;
}

/* This targets the main heading */
.heading {
  box-sizing: border-box;
  font-size: 40px;
  margin-left: 30px;
}

/* This targets the text right under the main heading */
.sub-heading {
  box-sizing: border-box;
  font-weight: lighter;
  font-size: 30px;
}

.bilde-studiestart {
  /* This is the gap underneath the image and above the text */
  margin-bottom: 12px;
}

/* This is the information underneath the image as well as the content underneath the statistics grid */
/* This is put within a grid layout with gaps inbetween each grid element */
.about-oslomet-container {
  display: grid;
  /* This targets the layout of the grid elements and how much space they should take up on inside the grid */
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
}

/* This is the link to the original photo and this styles the text "Foto: Benjamin A. Ward" */
.original-image {
  font-weight: lighter;
  text-decoration: none;
  border-top: 1px solid black;
  padding-top: 10px;
}

/* This styles the look of the link while you hover over it */
.original-image:hover {
  font-weight: bolder;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* This styles how the link looks when you've clicked on it */
.original-image:active,
.original-image:visited {
  color: black;
  text-decoration: none;
}

/* This is the styling of the grid containing the statistics */
.statistics-grid-container {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #ffd500;
  padding: 25px;
}

/* This puts a border over each of the grid elements within the statistics grid */
.amount-students,
.amount-studyplaces,
.amount-bachelor-studies,
.amount-master-studies {
  border-top: 1px solid black;
}

/* This styles the look of the footer which contains links and the names of the makers of the website */
footer {
  text-align: center;
  padding: 8px;
  background-color: #ffd500;
  color: black;
  margin-top: 20px;
}

/* topical.html */ 

.emne {
  font-size: 30px;
}

.grid-6 {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 25px;
  line-height: 1.2;
}

.coursename-english,
.studyprogram,
.points,
.study-years {
  border-top: 1px solid black;
}

.list-learning-outcomes {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

input {
  display: none;
  
}

.checkbox {
  margin:20px auto;
  row-gap: 15px;
  
}

label {
  display: block;
  padding: 8px 22px;
  cursor: pointer;
  background: #ffd500;
  border-top: black;
  color: black;
  position: relative;
  
}

label:hover {
  
  transition: .5s;
}

label::after {
  content: '+';
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
}

input:checked + label::after {
  content: '-';
  right: 14px;
  top: 5px;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}

/* campus.html */

.info-om-begge-campus{
  font-size: large;
  text-align: auto;
  margin-top: .5px;
  margin-bottom:2px;
  margin-top: 10px;
}

.grid-7{
  display: grid;
  column-gap: 5rem;
  grid-template-columns: 3fr;
  padding: 1rem;
  line-height: 1.2;
}

.grid-8{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
}

.campus-pilestredet{
  size: small;
  size-adjust: 1rem;
  align-items: left;
  padding: 0rem;
}

.kort-info{
  font-size: medium;
}

.grid-9{
  display: grid;
  align-items: left;
}