/* index.html */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.banner-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  background-color: #ffd500;
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0;
}

.banner-container > div {
  text-align: left;
  padding: 10px 0;
  font-size: 20px;
}

/* Dropdown Button */
.dropdown-button{
  display: grid;
  background-color: #ffd500;;
  color: black;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#ffd500; ;
  min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d9b607;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #d9b607;}

.heading-container {
  display: grid;
  gap: 20px;
  background-color: #ffd500;
  padding: 10px;
}

.heading-container > div {
  text-align: left;
  padding: 10px 0;
  font-size: 20px;
}

.heading {
  box-sizing: border-box;
  font-size: 40px;
  margin-left: 30px;
}

.sub-heading {
  box-sizing: border-box;
  font-weight: lighter;
  font-size: 30px;
}

.about-oslomet-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
}

.original-image {
  font-weight: lighter;
  text-decoration: none;
}

.original-image:hover {
  font-weight: bolder;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.original-image:active,
.original-image:visited {
  color: black;
  text-decoration: none;
}

.statistics-grid-container {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #ffd500;
  padding: 25px;
}

.amount-students,
.amount-studyplaces,
.amount-bachelor-studies,
.amount-master-studies {
  border-top: 1px solid black;
}

/* topical.html */ 

.emne {
  font-size: 30px;
}

.grid-6 {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 25px;
  line-height: 1.2;
}

.coursename-english,
.studyprogram,
.points,
.study-years {
  border-top: 1px solid black;
}

.list-learning-outcomes {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

input {
  display: none;
  
}

.checkbox {
  margin:10px auto;
  
}

label {
  display: block;
  padding: 8px 22px;
  cursor: pointer;
  background: #ffd500;
  border-top: black;
  color: black;
  position: relative;
  row-gap: 30px;
}

label:hover {
  
  transition: .5s;
}

label::after {
  content: '+';
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 2px;
}

input:checked + label::after {
  content: '-';
  right: 14px;
  top: 3px;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}

/* campus.html */

.info-om-begge-campus{
  font-size: 1.5rem;
  text-align: auto;
  margin-top: .5px;
  margin-bottom: 5px;
}

.grid-7{
  display: grid;
  column-gap: 5rem;
  grid-template-columns: 3fr 1fr;
  padding: 1rem;
  line-height: 1.2;
}

.grid-8{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
}

.campus-pilestredet{
  size: small;
  size-adjust: 1rem;
  align-items: left;
  padding: 0rem;
}

.grid-9{
  display: grid;
  align-items: left;
}