/* ------ ETTERSOM DENNE SIDEN HAR ET ANNET DESIGN EN DE ØVRIGE SIDENE VÅRE
HAR VI ET EGET CSS-SHEET FOR DENNE ------- */

/* ------- Dette styler siden med en bakgrunnsfarge ------- */
body {
  background-color: rgb(234, 218, 230);
}

/* Default margin på sider er 10px, vi setter dem derfor til 0 */
* {
  margin: 0;
  padding: 0;
  /* Skrifttype for hele siden */
  font-family: Arial, Helvetica, sans-serif;
}

/* Gir paragrah taggene en marg på venstre side */
p {
  margin-left: 20px;
}

/* ---------- HEADER ------------ */

.header {
  /* Sørger for minimum høyde av elementet til 100% av viewport */
  min-height: 100vh;
  width: 100%;
  /* Bakgrunnsbilde i header, med et farge overlay*/
  background-image: linear-gradient(rgba(85, 15, 81, 0.7),rgba(79, 15, 76, 0.7)),
  url("../img/Bilde-3.webp");
  /* Posisjonering av bakgrunnsbildet */
  background-position: center;
  background-size: cover;
  position: relative;
}

/* styler linkene og logoen inne i headeren*/
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
}

/* Styler størrelsen på logoen */
nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

/* Linkene er lagt i en uordnet liste som listeelementer */
.nav-links ul li {
  /* Sørger for at linkene ikke blir bullet points */ 
  list-style: none;
  /* Legger listeelementene etter hverandre i horisontal linje */
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: rgb(227, 196, 201);
  text-decoration: none;
  font-size: 13px;
}

/* Looken til linkene med en linje under når man holder musepekeren over dem */
.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(227, 196, 201);
  display: block;
  margin: auto;
  /* Tiden det tar for linjen under linkene til å fylle lengden av hver link */
  transition: .5s;
}

/* Linjen fyller hele lengden av linkene */
.nav-links ul li:hover::after {
  width: 100%;
}

/* Styler overskriften */
.text-box {
  width: 90%;
  color: rgb(227, 196, 201);
  position: absolute;
  top: 50%;
  left: 50%;
  /* sørger for plassering i midten av denne div'en */
  transform: translate(-50%,-50%);
  text-align: center;
}

/* Størrelsen på h1-taggen inne i headeren */
.text-box h1{
  font-size: 70px;
}

/* For mindre skjermstørrelse */
@media(max-width: 400px) {
  .text-box h1{
    font-size: 20px;
  }
}

/* Styler linken til full besrivelse av emnet slik at den ser ut som en knapp */
.emne-button {
  display: inline-block;
  text-decoration: none;
  color: rgb(227, 196, 201);
  border: 1px solid rgb(227, 196, 201);
  padding: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 50px;
}

/* Styler hvordan knappen ser ut når du holder musepekeren over den */
.emne-button:hover {
  border: 1px solid rgb(227, 196, 201);
  color: rgb(104, 103, 103);
  font-weight: bold;
  background-color: rgb(227, 196, 201);
  transition: 1s;
}

/* -------- STATISTIKK --------- */

/* Her styles looken av bildeboksene som inneholder statistikk om emnet */
.statistics {
  width: 70%;
  /* Plasseres midt på skjermen*/
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px
}

.statistics h1 {
  color: rgb(89, 88, 89);
  line-height: 1.6;
}

.row {
  margin: 2%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  border-top: 1px solid rgb(89, 88, 89);
}

.stat-col {
  flex-basis: 40%;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

/* Styler bildet inne i boksene */
.stat-col img {
  width: 100%;
  display: block;
}

/* Når man holder musepekeren over bildet kommer et farget overlay */
.overlay-stat {
  /* Dette sørger for at overlayet ikke er synlig når man ikke holder musepekeren over boksen */
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
}

.overlay-stat:hover {
  /* Fargen av overlayet når man holder musepekeren over boksene */
  background: rgba(222, 183, 209, 0.7);
}

/* Styler overskriften i statistikken inne i boksene s*/
.overlay-stat h3 {
  width: 100%;
  color: rgb(71, 64, 64);
  font-size: 100%;
  line-height: 1.6;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  opacity: 0;
  transition: .5s;
}

/* Når man holder musepekeren over boksen */
.overlay-stat:hover h3{
  bottom: 48%;
  opacity: 1;
}

/* ------- STYLING AV LINKER ------- */

.original-image {
  margin-top: 0;
  font-size: 10px;
  font-weight: lighter;
  /* for å unngå at det er en strek under teksten må det styles slik */
  text-decoration: none;
  padding-top: 10px;
  margin-left: 20px;
  border-bottom: 1px solid rgb(89, 88, 89);
}

.original-image:hover {
  font-weight: bolder;
  cursor: pointer;
  /* For å unngå default innstilling hvor teksten blir lilla, må den styles slik */
  color: rgb(89, 88, 89);
  text-decoration: none;
}

.original-image:active,
.original-image:visited {
  color: rgb(89, 88, 89);
  text-decoration: none;
}

/* -------- BILDE -------- */

/* Styler bildet som ligger over checkboxen */

.illustration-topical img {
  border-radius: 50%;
  margin-bottom: 20px;
  opacity: 0.8;
  cursor: crosshair;
}

/* Når man holder musepekeren over bildet så blir det speilvendt */
.illustration-topical:hover img {
    transform: scaleX(-1);
}

/* ------- CHECKBOX --------- */

/* På campus.html og topical.html bruker vi checkbokser for å lage en nedtrekksmeny. 
Disse er stylet likt på begge sidene */
input {
  display: none;
}

label {
  height: 60px;
  border: .5px solid rgb(224, 187, 224);
  border-radius: 20px;
  display: flex;
  padding-top: 20px;
  padding-left: 50px;
  border-style: solid;
  border-color: rgb(224, 187, 224);
  border-width: 0.5px;
  /* Når du fører musen over checkboksene endres musepekeren fra pil til hånd */
  cursor: pointer;
  /* Vi har gitt chekboksene samme farge som banneret og statistikk gridene på de øvrige sidene våre 
  for å sørge for en gjennomgående look på nettsiden */
  background-image: linear-gradient(-90deg, rgb(230, 204, 209), rgb(141, 222, 230));
  color: black;
  /* Posisjonen er satt slik at checkboksene dekker hele siden */
  position: relative;
  margin-bottom: 5px;
  margin-top: 30px;
}

/* Når man fører musepekeren over checkboksene forandres fargen til en litt mørkere gul */
label:hover {
  background: rgb(227, 196, 201);
  /* Dette er lagt inn for å sørge for en smooth overgang i fargen */
  transition: .5s;
}

/* Her styles '+'-tegnet i høyre hjørnet av hver checkboks */
/* Når boksen er lukket vises et plusstegn for å indikere at man kan klikke på boksen for mer informasjon */
label::after {
  content: '+';
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
}

/* Her styles tegnet slik at det går fra + til - når boksen er åpen */
input:checked + label::after {
  content: '-';
  right: 14px;
  top: 5px;
}

/* Når boksen er lukket */
input + label + .content-learning-outcomes {
  display: none;
}

/* Når boksen er åpen*/
input:checked + label + .content-learning-outcomes {
  display: block;
}

.content-learning-outcomes > div h3 {
  text-align: left;
  margin: 20px;
}
.content-learning-outcomes > div p {
  margin: 20px;
}

.content-learning-outcomes ul li {
  margin: 40px;
  line-height: 1.5;
}

.content-learning-outcomes {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.list-learning-outcomes li,
.list-learning-outcomes p {
  font-size: large;
  margin: 5px;
}

.list-learning-outcomes h3 {
  font-size: x-large;
  border-bottom: 1px solid gray;
}


/* Dette er en knapp som er lagt inn i teksten i en av checkboksene */
.arrays-button,
.programmeringsspråk,
.java {
  background-image: linear-gradient(-90deg, rgb(230, 204, 209), rgb(141, 222, 230));
  /* Knappen har fått en bord som er litt mørkere i fargen for å gjøre den litt mer synlig */
  border-color: pink;
  border: 2px;
  /* Dette runder kantene på knappen */
  border-radius: 15px;
  border: 1px solid rgb(141, 222, 230);
  padding: 5px;
  color: black;
  height: 30px;
  width: 80px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.arrays-button:hover,
.programmeringsspråk:hover,
.java:hover {
  /* Fargen blir litt "svakere" */
  opacity: 0.9;
  /* Knappen er gitt en skygge */ 
  box-shadow: 8px 3px 10px rgba(0,0,0,0.4);
}


/* -------- BESKRIVELSE -------- */

/* Styler de rosa boksene med informasjon om faget */
.course {
  width: 90%;
  /* Plasseres midt på skjermen*/
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px
}

/* Hver boks styling */
.course-column {
  flex-basis: 25%;
  background: rgb(227, 196, 201);
  border-radius: 10px;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 30px;
  box-sizing: border-box;
  /* Overgang for box-shadow */
  transition: .5s;
}

/* Styling når man holder musepekeren over boksene */
.course-column:hover {
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
  cursor: help;
}

/* Bokser flytter seg under hverandre når skjermen blir mindre */
/* For mindre skjerm*/
@media(max-width: 1050px) {
  .row{
    flex-direction: column;
  }  
}

h2 {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(89, 88, 89);
}

h3 {
  font-size: 100%;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
  color: rgb(89, 88, 89);
  line-height: 25px;
}

p {
  color: rgb(89, 88, 89);
  font-size: 14px;
  font-weight: light;
  line-height: 25px;
  padding: 10px;
}

/* styler listeelementene med hul sirkel i stedet for svart prikk */
ul {
  list-style: circle;
  list-style-position: inside;
}

li {
  color: rgb(89, 88, 89);
  font-size: 14px;
  font-weight: light;
  margin-bottom: 5px 0;
}



/* ------------- FOOTER ---------------------- 
Her styles footerene på alle sidene slik at siden får en sammenhengende look */

.footer{
  text-align: center;
  /*Vi ønsket å ha teksten i midten av footeren*/
  padding: 8px;
  /* Fargen er kopiert fra OsloMet.no */ 
  background-image: linear-gradient(-90deg, rgb(230, 204, 209), rgb(141, 222, 230));
  color: black;
  margin-top: 30px
}

.kildelink{
  color: black;
  text-decoration: none;
}

.kildelink:hover{
  color: black;
  text-decoration: underline;
}

.kildelink:active{
  color: black;
  text-decoration: none;
}

.eksamen{
  font-size: xx-small;
  font-weight: lighter;
}
